<div class="pagination">
    <div class="four wide column"></div>
    <div class="eight wide colum">
        <ul>
            <% if(page !== 1){ %>
                <li><a href="/<%= type %>?page=<%= page-1 %>&&rows=<%= rows %>">上一页</a></li>
            <% }else{ %>
                <li>上一页</li>
            <% } %>

            <% if(pages <= 1){ %>
                <li>1</li>
            <% }else if(pages <= 3){ %>
                <% for(var i=1; i<=pages; i++){ %>
                    <% if(i === page){ %>
                        <li><%= i %></li>
                    <% }else{ %>
                        <li><a href="/<%= type %>?page=<%= i %>&&rows=<%= rows %>"><%= i %></a></li>
                    <% } %>
                <% } %>
            <% }else if(page <= 3){ %>
                <% for(var i=1; (i<=pages)&&(i<=page+2); i++){ %>
                    <% if(i === page){ %>
                        <li><%= i %></li>
                    <% }else{ %>
                        <li><a href="/<%= type %>?page=<%= i %>&&rows=<%= rows %>"><%= i %></a></li>
                    <% } %>
                <% } %>
                <% if(page < pages-2){ %>
                    <li>...</li>
                <% } %>
            <% }else if(pages <= page+2){ %>
                <% if(page > 3){ %>
                    <li>...</li>
                <% } %>
                <% for(var i=page-2; i<=pages; i++){ %>
                    <% if(i === page){ %>
                        <li><%= i %></li>
                    <% }else{ %>
                        <li><a href="/<%= type %>?page=<%= i %>&&rows=<%= rows %>"><%= i %></a></li>
                    <% } %>
                <% } %>
            <% }else if(pages > page+2){ %>
                <% if(page > 3){ %>
                    <li>...</li>
                <% } %>
                <% for(var i=page-2; i<=page+2; i++){ %>
                    <% if(i === page){ %>
                        <li><%= i %></li>
                    <% }else{ %>
                        <li><a href="/<%= type %>?page=<%= i %>&&rows=<%= rows %>"><%= i %></a></li>
                    <% } %>
                <% } %>
                <li>...</li>
            <% } %>
        
            <% if(page < pages){ %>
                <li><a href="/<%= type %>?page=<%= page+1 %>&&rows=<%= rows %>">下一页</a></li>
            <% }else{ %>
                <li>下一页</li>
            <% } %>
        </ul>
    </div>
</div>